<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.amazonaws.services.lambda.runtime.log4j2">
    <Appenders>
        <Lambda name="lambda">
			<JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json"/>
        </Lambda>
    </Appenders>
    <Loggers>
        <!-- LOG everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="lambda" />
        </Root>
    </Loggers>
</Configuration>
